<p id="notice"><%= notice %></p>

<div id="name">
  <b>Name:</b>
  <%= @document.name %>
</div>

<div id="content">
  <b>Content:</b>
  <%= @document.content %>
</div>
<%= link_to 'Download', document_path(@document, :format => :pdf) %>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
