<p id="notice"><%= notice %></p>

<%= render :partial => 'documents/document' %>
<%= link_to 'Download', document_path(@document, :format => :pdf) %>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
